.slidingimages {
    position: relative;
  }
  
  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    color: magenta;
  }
  
  .button:first-child {
    left: 0px;
  }
  
  .button:last-child {
    right: 10px;
  }